/* html {
    max-width: 100vw;
} */
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: auto;
    padding: 0em;
    font-family: advent;
    font-size: 0.9em;
    font-weight: 500;
    font-family: sans-serif, Arial, Helvetica;
    overflow-x: hidden;
    max-width: 100vw;
    image-rendering: optimizeSpeed;
    h1,h2,h3,h4,h5,h6 {
        font-family: advent;
        color: rgba(59, 58, 58, 0.788);
    }
    a {
        transition: all 0.2s linear;
    }
    p,a,li {
        color: rgba(59, 58, 58, 0.788);
    }

}
.smallPara {
    font-size: small;
    font-weight: 100;
    color: rgb(46, 45, 45);
}


:root {
    --primaryColor: rgb(52, 200, 245);
    --secondryColor: rgb(224, 113, 99);
    --tertiaryColor: rgb(48, 47, 47);
    --quaternary: rgba(252, 233, 233, 0.74) ;
}

* {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: museo;
    src: url(./assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: advent;
    src: url(./assets/fonts/Advent_Pro/AdventPro-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: salsa;
    src: url(./assets/fonts/Salsa/Salsa-Regular.ttf);
}
svg {
    fill: var(--primaryColor);
}

header {
    /* background-color: var(--tertiaryColor); */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    grid-area: "head";
    width: 100%;
    /* background-color: blue; */

    div.headerContent1 {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        margin: 0em 2em ;
        height: 100%;
    }

    div.emailPhone {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 0px 20px;
        height: 100%;
        margin-left: 0px -10px;
    }

    div.headerContent2 {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35vw;
        margin: 0em 3em;
    }

    div#searchBar {
        /* border: 1px solid black; */
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 70%;
        /* height: 45px; */
        input {
            padding: 0.8em;
            font-size: 1em;
            width: 80%;
            height: 100%;
            border: none;
            background-color: var(--tertiaryColor);
            box-sizing: border-box;
        }
        div#pan {
            background-color: var(--primaryColor);
            display: flex;
            height: 100%;
            margin-right: 1em;
            align-items: center;
            padding: 0.65em 1em;
            box-sizing: border-box;
            svg {
                fill: white;
            }
        }
        div#pan:hover {
            background-color: var(--secondryColor);
            cursor: pointer;
        }
    }
}

            /* -------nav area-------  */
nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    font-family: advent;
    font-size: 1.5em;
    font-weight: 400;
    position: relative;
    margin-bottom: 1em;
}
div.logo {
    text-shadow: 3px 3px 5px black;
    h1 {
        font-family: museo;
        font-weight: 700;
        font-size: 2.5em;
        color: var(--quaternary);
    }
    h1::first-letter {
        color: var(--primaryColor);
    }
    h1::after {
        content: "X";
        color: var(--secondryColor);
    }
    
}
nav #linksSection {
    border: 1px solid rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    background-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
    .logo {
        text-shadow: 3px 3px 5px black;
        h1 {
            font-family: museo;
            font-weight: 700;
            font-size: 2.5em;
            color: var(--quaternary);
        }
        h1::first-letter {
            color: var(--primaryColor);
            font-size: 64px;
        }
        h1::after {
            content: "X";
            color: var(--secondryColor);
        }
        
    }
    #navLinks {
        /* border: 1px solid white; */
        /* width: 100%; */
        /* width: 40%; */
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            font-weight: 600;
            color: white;
            padding: 1em;
        }
        a:hover {
            color: var(--primaryColor);
            text-decoration: none;
            background-color: rgba(255,255,255,0.3);
        }
        a:focus {
            border-left: 1px solid var(--primaryColor);
            border-right: 1px solid var(--primaryColor);
        }
    }
   
}
nav #heroSection {
    position: absolute;
    top: 0;
    height: 60vh;
    width: 100%;
    opacity: 0.9;
    backdrop-filter: blur(100);
    background-image: url(./assets/images/Books2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        backdrop-filter: brightness(0.6);
        width: 100%;
        height: 100%;
        display: flex;
        div#heroText {
            /* background-color: wheat; */
            display: flex;
            flex-flow: column wrap;
            align-items: start;
            justify-content: center;
            width: 60%;
            height: 80%;
            text-transform: uppercase;
            font-family: museo;
            font-weight: 600;
            margin: 4em auto;
            line-height: 0.8em;
            text-align: left;
            p#green-p {
                color: rgb(52, 200, 245);
                /* text-shadow: 3px 2px 6px black; */
                /* border: 1px solid beige; */
                padding: 0.1em;
                margin-bottom: 0%;
            }
            h1 {
                font-size: 3em;
                line-height: 1em;
                color: var(--quaternary);
                /* border: 1px solid beige; */
                /* text-shadow: 0px -1px black, 1px 0px black, 0px 1px black,-1px 0px black; */
                margin: 3% 0% 2% 0%;
            }
            p {
                font-size: 0.6em;
                color: var(--quaternary);
                /* text-shadow: 2px 2px 4px black; */
                font-family: sans-serif;
                padding: 0.2em;
            }
            a {
                color: white;
                font-size: 0.5em;
                font-family: Arial, Helvetica, sans-serif;
                background-color: transparent;
                border: 2px solid var(--primaryColor);
                padding: 1em 3em;
                border-radius: 0.2em;
                margin-top: 6em;
            }
            a:hover {
                background-color: var(--primaryColor);
                text-decoration: none;
                text-shadow: 1px 1px 3px black;
            }
        }
    }
}




               /* ----------sidebar----------- */
div#sideBar {
    z-index: 999;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: start;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.685);
    width: 50vw;
    height: 100vh;
    box-sizing: border-box;
    #sideLinks {
        /* border: 1px solid white; */
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        width: 45vw;
        justify-content: start;
        margin-top: 5em;
        gap: 1em;
        margin-left: 5%;
        box-sizing: border-box;
        a, span {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0em 1em;
            width: 100%;
            height: 5vh;
            color: var(--tertiaryColor);
            border: 1px solid white;
            box-sizing: border-box;
            color: var(--quaternary);
        }
        a:hover {
            background-color: rgba(255,255,255,0.1);
            text-decoration: none;
        }
        span:hover {
            background-color: rgba(255,255,255,0.1);
            text-decoration: none;
            cursor: pointer;
        }
        span {
            display: inline-flex;
            padding: 0%;
            height: 2em;
            width: 2em;
            align-items: center;
            justify-content: center;
            align-self: flex-end;
            margin-bottom: 2em;
            /* border: none !important; */
            /* border-radius: 50%; */
        }
    }
    

}
span {
    border: none !important;
}



                /* --- main section ---- */

main {
    width: 100vw;
    height: 90vh;
    /* background-color: bisque; */
}
/* section {
    border: 1px solid black;
} */
div.container {
    width: 100vw;
    height: 100%;
    margin:  auto;
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 3fr 2fr 2fr 3fr 3fr 1fr;
    gap: 3em;


}

section#iconSection {
    grid-column: 1/4;
    width: 90%;
    margin: auto;
    /* height: 70%; */
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    align-items: first baseline;
    justify-content: stretch;
    h2 {
        font-family: advent;
        font-size: x-large;
        text-transform: capitalize;
        color: var(--tertiaryColor);
    }
    
    /* border: 0.5px solid #ccc; */

}

div.iconCard {
    /* width: 22%; */
    height: 90%;
    width: 23%;
    box-shadow: 1px 1px 1px #e9e9e9;
    padding: 0.5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: space-evenly;
    div.readMore {
        /* background-color: tan; */
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: start;
        a {
            display: none;
            color: var(--primaryColor);
            transition: all 4s linear;
            font-weight: 600;
        }
    }
}

div.iconCard:hover {
    cursor: pointer;
    div.readMore a {     
        display: flex;
        text-decoration: none;
        transition: all 1s linear;
    }
}

                    /* ------ featured section 1 ------ */

section#featuredSection1 {
    grid-column: 1/4;
    width: 80%;
    height: 100%;
    margin: auto;
    /* background-color: chocolate; */
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column nowrap;

}
div.sectionHeader {
    /* background-color: rgb(16, 131, 231); */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    h1,a  {
        /* padding: 0em 1em; */
        font-family: advent;
        font-weight: 600;
        margin: 1%;
        color: var(--primaryColor);
    }
    h1 {
        font-size: xx-large;
    }
    a {
        border: 2px solid var(--primaryColor);
        padding: 0.4em 2em;
    }
    a:hover {
        background-color: var(--primaryColor);
        text-decoration: none;
    }
}
div.Books {
    height: 90%;
    width: 100%;
    margin: 1em auto;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

div.featuredBook {
    width: 46%;
    height: 90%;
    /* box-shadow: 1px 1px 1px #e9e9e9; */
    /* background-color: aqua; */
    /* padding: 1em; */
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: space-evenly;
    padding: 0%;

    div.bookImg {
        width: 45%;
        height: 100%;
        background-color: rebeccapurple;
        background-size: cover;
        background-position: center;
    }
    div.bookDetails {
        /* border: 1px solid var(--quaternary); */
        width: 55%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content:  space-around;
        padding: 0.5em;
        padding-left: 1em;
        box-sizing: border-box;
        border: 1px solid rgb(172, 170, 170);
        gap: 10px;
        h3,p {
            margin: 1%;
            padding: 0%;
        }
        h3 {
            font-size: x-large;
            text-transform: capitalize;
            margin: 0%;
            height: 3em;

        }
        h2 {
            color: var(--secondryColor);
            span {
                color: gray;
                text-decoration: line-through;
                font-weight: 200;
                font-size: 0.em;
            }
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;
        }
        p.date {
            color: var(--primaryColor);
            font-size: 0.8em;
        }
        div.stars {
            /* border: 1px solid black; */
            display: flex ;
            flex-flow: row  nowrap;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            height: 10%;
            /* margin-bottom: 0.2em; */
            margin-left: 0.2em;
            svg {
                /* border: 1px solid black; */
                width: 15px;
                height: 15  
            }
            p {
                /* border: 1px solid black; */
                width: 100%;
                
            }
        }
    }
    div.cosmosImg {
        background-image: url(./assets/images/cosmos.jpg);
    }
    div.webDevImg {
        background-image: url(./assets/images/webDev.jpg);
    }
}
div.featuredBook:hover {
    box-shadow: 5px 12px 15px rgba(44, 44, 44, 0.685);
}


                        /* ------ about Section -------  */



section#aboutSection {
    grid-column: 1/4;
    width: 100%;
    height: 50vh;
    background-color: var(--quaternary);
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    div#aboutContent {
        /* border: 1px solid black; */
        width: 40%;
        height: 80%;
        h1 {
            color: var(--primaryColor);
            font-size: xx-large;
            margin: 0%;
        }
        div#Rating {
            /* border: 1px solid black; */
            display: flex;
            flex-flow: row wrap;
            align-items: start;
            justify-content: space-between;
            height: 60%;
            
            h2  {
                color: var(--primaryColor);
                font-size: x-large;
            }
        }
    }
    div#aboutVideo {
        /* border: 1px solid black; */
        width: 40%;
        height: 80%;
        background-image: url(./assets/images/Thimbnail2.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        div#playBtn {
            background-color: var(--secondryColor);
            border-radius: 50%;
            padding: 1em;
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 40%;
            left: -6%;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        div#playBtn:hover {
            background-color: var(--primaryColor);
        }
    }
    
}
div#Rating>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
    height: 90%;
}


                    /* -------- featured section 2 ----------  */

section#feturedSec {
    grid-column: 1/4;
    width: 100%;
    /* background-color: var(--quaternary); */
    height: 100vh;
    margin-bottom: 10em;
    div#btn {
        width: 100%;
        height: 6em;
        /* background-color: rgb(25, 85, 138); */
        display: flex;
        align-items: flex-end;
        justify-content: center;
        a {
            /* background-color: aqua; */
            padding: 0.4em 1.4em;
            border: 3px solid var(--primaryColor);
        }
        a:hover {
            background-color: var(--primaryColor);
            text-decoration: none;
        }
    }
}
div#featureHead {
    width: 90%;
    margin: auto;
    height: 15%;
    /* background-color: lightcoral; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    h1 {
        color: var(--primaryColor);
        font-size: 3em;
        margin: 0%;
    }
    ul {
        width: 50%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid black; */
    }
    a {
        padding: 1em;
    }
    a:hover {
        text-decoration: none;
        color: var(--secondryColor);
        background-color: rgba(255,255,255,0.1);
    }
}

div#booksCollection {
    /* background-color: blue; */
    width: 90%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    align-items: center;
    justify-content: center;
}
div.bookCover {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 0%;
    padding: 0%;
}
div.Image {
    width: 100%;
    height: 50%;
    /* background-color: chartreuse; */
    background-image: url(./assets/images/book.jpg);
    background-size: cover;
    background-position: left;
}
div.Details {
    width: 100%;
    height: 50%;
    /* background-color: beige; */
    border: 2px solid var(--quaternary);
    padding: 1em;
    box-sizing: border-box;
    h3 {
        font-size: x-large;
        padding: 0%;
        margin: 4% 0%;
    }
    p.author {
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 1em;
        font-weight: 300;
        color: var(--secondryColor);
        
    }
    h2 {
        span {
            color: gray;
            text-decoration: line-through;
            font-weight: 200;
            font-size: 0.em;
        }
    }
    /* display: flex;
    flex-flow: column wrap; */
}
div.reviews {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
div.Rstar {
    svg {
        width: 18px;
        height: 18px;
    }
}

div.bookCover:hover {
    box-shadow: 5px 12px 15px rgba(44, 44, 44, 0.685);

}



                        /* --------  News Section ------------  */

section#newsSection {
    grid-column: 1/4;
    width: 100%;
    height: 55em;
    background-color: var(--quaternary);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    /* grid-template-areas: 
    "newsHead newsHead newsHead"
    "bNews bNews news"
    "bNews bNews news"
    ; */
}
                        /* ---- Header -----  */
div#newsHead {
    width: 90%;
    height: 60%;
    /* background-color: blue; */
    margin: auto;
    padding-bottom: 0%;
    /* grid-area: "newsHead"; */
    grid-column: 1/5;
    h1 {
        font-size: 4em;
        color: var(--primaryColor);
        
    }
}

                        
div#bNewsImg {
    width: 90%;
    height: 70%;
    /* background-color: aqua; */
    margin-left: auto;
    background-image: url(./assets/images/collBooks.jpg);
    image-rendering: optimizeSpeed;
    background-size: cover;
    background-position: center;
}
div#bNewsText {
    width: 90%;
    height: 30%;
    /* background-color: rgb(1, 255, 86); */
    margin-left: auto;
    box-sizing: border-box;
    border: 1px solid rgba(88, 88, 88, 0.527);

    h2 {
        margin: 0px;
        font-size: xx-large;
        padding: 0.5em 0.2em 0em 0.3em;
        text-transform: capitalize;
    }
    
}
                        
p.adress {
    font-size: xx-small;
    margin: 0px; 
    padding: 0em;
    color: rgb(68, 67, 67);
    display: flex;
    align-items: center
}
div.newsDate {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 1em;
    /* border: 1px solid black; */
}

div#bNews {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    grid-column: 1/3;
    grid-row: 2/4;
    /* grid-area: "bNews"; */
}
                 
div.news {
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: red; */
    /* border: 1px solid black; */
    grid-column: 3/5;
    /* grid-area: "news"; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

div.newsImg {
    width: 30%;
    height: 100%;
    /* background-color: aqua; */

}
div.freeBooks {
    background-image: url(./assets/images/Freebooks.jpg);
    background-size: cover;
    background-position: center;
}
div.library {
    background-image: url(./assets/images/library.jpg);
    background-size: cover;
    background-position: center;
}
div.newsText {
    border: 1px solid rgba(88, 88, 88, 0.527);
    width: 60%;
    height: 100%;
    /* background-color: beige; */
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: space-around;
    div.newsDate {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-left: 0.5em;
    }
    h2 {
        font-size: 1.5em;
        text-transform: capitalize;
        padding: 0em 0.5em 0em 1em;
    }
    .author > em {
        padding-left: 1.5em;
        color: var(--primaryColor);
    }
    .newsDetails {
        padding: 1.5em;
    }
}



                /* -------------- Image section ---------- */


section#imagesSection {
    margin-top: 5em;
    grid-column: 1/4;
    width: 100%;
    height: 50em;
    /* background-color: var(--quaternary); */
    #imageCollection {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1em;
    }
    /* div {
        border: 1px solid black;
    } */
    #img1 {
        grid-column: 1/3;
        grid-row: 1/3;
        width: auto;
        height: auto;
        background-image: url(./assets/images/pexels-alexakeiart-8145576.jpg);
        background-size: cover;
        background-position: center;
    }
    #img2 {
        grid-column: 3/5;
        grid-row: 1/2;
        width: auto;
        height: auto;
        background-image: url(./assets/images/pexels-m-u-h-t-e-l-i-f-70593160-28337835.jpg);  
        background-size: cover;
        background-position: center;
    }
    #img3 {
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(./assets/images/pexels-jessbaileydesign-2002217.jpg);
        background-size: cover;
        background-position: center;
    }
    #img4 {
        grid-column: 4/5;
        grid-row: 2/3;
        background-image: url(./assets/images/pexels-hulermbel-28237441.jpg);
        background-size: cover;
        background-position: center;
    }
    #img5 {
        grid-column: 1/2;
        grid-row: 3/5;
        background-image: url(./assets/images/pexels-pixabay-256455.jpg);
        background-size: cover;
        background-position: right;
    }
    #img6 {
        grid-column: 2/3;
        grid-row: 3/4;
        background-image: url(./assets/images/pexels-sashmere-3780403.jpg);
        background-size: cover;
        background-position: center;
    }
    #img7 {
        grid-column: 2/3;
        grid-row: 4/5;
        background-image: url(./assets/images/pexels-tima-miroshnichenko-9572634.jpg);
        background-size: cover;
        background-position: center;
    }
    #img8 {
        grid-column: 3/4;
        grid-row: 3/4;
        background-image: url(./assets/images/pexels-wsilvasjb-17545208.jpg);
        background-size: cover;
        background-position: center;
    }
}


            /* -------------- logo Section ----------- */

section#logoSection {
    grid-column: 1/4;
    width: 100%;
    height: 10em;
    background-color: var(--quaternary);
    margin: 4em auto 0em auto;
    div#logosCollection {
        width: 90%;
        height: 100%; 
        margin: auto;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        #logo1 {
            background-image: url(./assets/images/logos/r-removebg-preview.png);
            filter: grayscale(2);
            
        }
        #logo2 {
            background-image: url(./assets/images/logos/logo-4.png-removebg-preview.png);
            filter: grayscale(2
            );
        }
        #logo3 {
            background-image: url(./assets/images/logos/microsoft-removebg-preview.png);
            
        }
        #logo4 {
            background-image: url(./assets/images/logos/Google-removebg-preview.png);
            
        }
    }  
}
div.logosColl {
    width: 20%;
    height: 8em;
    margin: auto;
    /* background-color: aqua; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 




                /* ---------- Footer Links Section ------------  */

section#footerLinks {
    grid-column: 1/4;
    width: 100%;
    height: 30em;
    /* background-color: blue; */

}
div#footerGrids {
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.1em;
    p,a,li {
        color: rgba(59, 58, 58, 0.788);
    }
    div#companyInfo {
        grid-column: 1/3;
        grid-row: 1/6;
    }
    div#contact {
        grid-column: 3/5;
        grid-row: 1/6;
    }
    div#quickLinks {
        grid-column: 5/7;
        grid-row: 1/6;
    }
    div#socialMedia {
        grid-column: 7/9;
        grid-row: 1/6;
    }
}
div.linksContainers {
    /* background-color: red; */
    /* border: 1px solid white; */
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em;
    h1,h2 {
        color: var(--primaryColor);
    }
    a:hover {
        color: var(--secondryColor);
    }
}
div#companyInfo {
    /* padding: 1em; */
    h1 {
        font-size: xx-large;
        margin-bottom: 0em;
    }
    .logo {
        text-shadow: none;
        h1 {
            font-size: 32px;
            margin: 0px auto 0px auto;
            color: rgba(78, 78, 78, 0.74);
        }
        h1::first-letter {
            color: var(--primaryColor);
        }
        
    }
}

.FLList {
    list-style: none;
    /* border: 1px solid black; */
    padding: 0;
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-around;
    
}
div#contact {
    h2 {
        margin-bottom: 0em;
    }
}
div#quickLinks {
    display: flex;
    flex-flow: column;
    h2 {
        margin-bottom: 0em;
    }
}
 
div#quickLinks > div {
    width: 95%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    ul {
        /* border: 1px solid black; */
        height: 60%;
    }
}

div#SMIcons {
    width: 50%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    div {
        width: 30px;
        height: 30px;
        /* background-color: yellow; */
        border-radius: 50%;
        
    }
}

                        /* --------------- footer ----------------- */

section#footer {
    grid-column: 1/4;
    width: 100%;
    height: 5em;
    border: 1px solid rgba(156, 154, 154, 0.747);
    footer {
        width: 90%;
        height: 90%;
        margin: auto;
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #getApp {
        width: 30%;
        height: 100%;
        /* background-color: aqua; */
        background-image: url(./assets/images/logos/2\ in\ 1\ \(2\).png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #endLinks {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;
            li a {
                color: rgba(59, 58, 58, 0.788);
            }
            li a:hover {
                color: var(--secondryColor);
            }
        }
    }
}













                /* ----media queries---- */
@media (max-width: 768px) {
    body {
        max-width: 99%;
    }
    
    header {
        /* border: 1px solid black; */
        width: 100vw;
        div.headerContent1 {
            display: none;
        }
        div.headerContent2 {
            width: 100%;
            /* border: 1px solid black; */
            gap: 2em;
            justify-content: center;
        }
    }
    
    div#register {
        font-family: advent;
        font-size: 0.5em;
        width: 30%;

    }
    div.headerContent2 {
        justify-content: space-around;
        margin: 2px !important;
        padding: 0px;
        div#searchBar {
            width: 40%;
            height: 1em !important;
            div#pan {
                height: 0.35em;
                padding-left: 1px;
                padding-right: 1px;
            }
            input {
                width: 90%;
            }
        }
    }
    nav {

        #linksSection {
            width: 100%;
            justify-content: space-around;
            span {
                height: 1em;
                width: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.2em;
                border: 1px solid white;
                svg {
                    fill: var(--tertiaryColor);
                }
                
            }
            span:hover {
                background-color: rgba(255,255,255,0.1);
                text-decoration: none;
                cursor: pointer;
            }
            #navLinks {
                display: none;
            }
        
        }
       
        
    }
    div#heroText {
       font-size: small;
       p {
        text-shadow: 1px 1px 2px black;
       }
    }

    div#sideBar {
        display: none;
    }
    section#iconSection {
        margin-bottom: 5em;
        flex-flow: column;
    }
    div.iconCard {
        width: 100%;
        height: 50%;
        margin: 0px auto;
        p {
            font-size: x-small;
        }
    }
    div.featuredSection {
        justify-content: space-around;
    }

    div.sectionHeader {
        padding-left: 0px;
        margin-left: 0px;
        h1 {
            font-size: large;
        }
        a {
            border: 2px solid var(--primaryColor);
            padding: 0.1em 0.5em;
        }
    }
    div.Books {
        flex-flow: column nowrap;
        height: 100vh;
        gap: 0.5em;
        div.featuredBook {
            height: 100%;
            width: 100%;
            margin-bottom: 0;
            flex-flow: column wrap;
            div.bookImg, div.bookDetails {
                width: 100%;
                height: 50%;
            }

            h1 {
                margin-bottom: 0%;
            }
        }
        div.stars {
            /* background-color: yellowgreen; */
            width: 100% !important;
            
        }
    }

    section#aboutSection {
        width: auto;
        height: 80vh;
        flex-flow: column wrap;
        div#aboutVideo {
            width: 60%;
            height: 30%;
            margin-top: 4em;
            div#playBtn {
                left: 42%;
            }
        }
        div#aboutContent {
            justify-content: center;
            padding: 0%;
            margin: 0%;
            width: 80%;
            align-items: center;
            height: 60%;
            div#Rating {
                margin: 0%;
                padding: 0%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            div#Rating > div {
                justify-content: first baseline;
                align-items: start;
                margin: 0px;
                padding: 0%;
            }
        }
    }
   
    div#featureHead {
        ul {
            margin: 0%;
            width: 100%;
            height:30%;
            justify-content: start;
            align-items: start;
            /* border: 1px solid black; */

            li {
                height: 1em;
            }
        }
    }
    section#feturedSec {
        height: 160em;
        gap: 2em;
    }
    div.bookCover {
        width: 90%;
        height: 100%;
        margin: auto;
        div.Image {
            height: 40%;
        }
        div.Details {
            height: 60%;
        }
    }

    div#booksCollection {
        height: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }


    section#newsSection {
        margin-top: 5em;
        width: 100%;
        /* grid-template-columns: 1fr; */
        grid-template-rows: repeat(6,1fr);
        height: 150em;
        div#bNews {
            grid-row: 2/4;
            grid-column: 1/5;
            width: 90%;
            height: 100%;
            margin: auto;
            #bNewsImg, #bNewsText {
                margin: 0;
            }
        }
        div.news {
            justify-content: center;
            margin: auto;
        }
        div.news1 {
            grid-row: 4/5;
            grid-column: 1/5;
            margin: 0%;
            .newsImg, .newsText {
                margin: 0;
            }
        }
        div.news2 {
            grid-row: 5/6;
            grid-column: 1/5;
            margin: 0%;
            .newsImg, .newsText {
                margin: 0;
            }
        }
    }
    div#footerGrids {
        width: 100%;
        height: 80em;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 0em;
        
    }
    
    .linksContainers {
    border: 1px solid rgb(173, 173, 173);

    }
    div#companyInfo {
        width: 100%;
        height: 22%;
        /* background-color: yellow; */
    }
    div#contact {
        width: 100%;
        height: 22%;
        /* background-color: blue; */
    }
    div#quickLinks {
        width: 100%;
        height: 22%;
        /* background-color: purple; */
    }
    div#socialMedia {
        width: 100%;
        height: 10%;
        /* background-color: green; */
        #SMIcons {
            width: 20%;
            justify-content: space-evenly;
        }
        
    }
    div#quickLinks > div {
        justify-content: flex-start;
        gap: 3em;
    }
    #footer {
        /* width: 100%; */
        /* height: 5%; */
        /* background-color: rgb(24, 134, 231); */
        margin-top: 45em;
        
        footer {
            /* width: ;
            height: ; */
            display: inline-flex;
            flex-flow: column;
        }
    }
    section#imagesSection {
        width: 90%;
        margin: auto;
        padding: 1em;
    }

    #img1 {
        grid-column: 1/3;
        grid-row: 1/2;
        
    }
    #img2 {
        grid-column: 3/5;
        grid-row: 1/2;
    
    }
    #img3 {
        grid-column: 1/2;
        grid-row: 2/3;
        
    }
    #img4 {
        grid-column: 3/5;
        grid-row: 2/3;
        
    }
    #img5 {
        grid-column: 1/4;
        grid-row: 3/5;
        
    }
    #img6 {
        grid-column: 4/5;
        grid-row: 3/4;
        
    }
    #img7 {
        grid-column: 2/3;
        grid-row: 4/5;
        
    }
    #img8 {
        grid-column: 3/4;
        grid-row: 4/5;
        
    }
}



@media (min-width: 768px) {
    nav {
        #linksSection {
            span {
                display: none;
            }
        }
    }
    div#sideBar {
        display: none;
    }
}


