body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: advent;
    font-size: 0.9em;
    font-weight: 500;
}
* {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

:root {
    --primaryColor: rgba(67, 175, 202, 0.877);
    --secondryColor: rgb(216, 92, 76);
    --tertiaryColor: rgb(238, 230, 230);
}

@font-face {
    font-family: museo;
    src: url(./assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: advent;
    src: url(./assets/fonts/Advent_Pro/AdventPro-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: salsa;
    src: url(./assets/fonts/Salsa/Salsa-Regular.ttf);
}
svg {
    fill: var(--primaryColor);
}

header {
    /* background-color: var(--tertiaryColor); */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    /* background-color: blue; */

    div.headerContent1 {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        margin: 0em 2em ;
        height: 100%;
    }

    div.emailPhone {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 0px 20px;
        height: 100%;
        margin-left: 0px -10px;
    }

    div.headerContent2 {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35vw;
        margin: 0em 3em;
    }

    div#searchBar {
        /* border: 1px solid black; */
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 45px;
        input {
            padding: 0.8em;
            font-size: 1em;
            width: 80%;
            height: 100%;
            border: none;
            background-color: var(--tertiaryColor);
        }
        div#pan {
            background-color: var(--primaryColor);
            display: flex;
            align-items: center;
            padding: 0.6em 1em;
            height: 100%;
            svg {
                fill: white;
            }
        }
    }
}


nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: advent;
    font-size: 1.5em;
    font-weight: 400;
    position: relative;
}
nav #linksSection {
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0.1);
    #navLinks {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            color: white;
            padding: 20px;
        }
        a:hover {
            color: var(--primaryColor);
            text-decoration: none;
        }
        a:focus {
            border-left: 1px solid var(--primaryColor);
            border-right: 1px solid var(--primaryColor);
        }
    }
}


nav #heroSection {
    position: absolute;
    top: 0;
    height: 90%;
    width: 100%;
    opacity: 0.9;
    background-image: url(./assets/images/Laptop.jpeg);
}

